.git
.github
.devcontainer
.vscode
.idea

node_modules
.pnpm-store
.npm

.svelte-kit
build
dist
coverage
playwright-report
test-results

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

notes

Dockerfile.dev
dev.compose.yml
compose.yml
docker-compose.dev.yml

README.md
LICENSE
